<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title> Node Party </title> 
    <meta name="description" content="Node Party in cnodejs.org. Nodejs party offline." />
    <link rel="icon" href="/favicon.ico" /> 
    <link rel="stylesheet" href="/css/base.css" />
<style>
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.countdown.js"></script>

<script type="text/javascript">
      $(function(){
        $('#counter').countdown({
          image: 'img/digits.png',
          startTime: '<%- locals.starttime %>'
        });
      });
    </script>

<style type="text/css">
      br { clear: both; }
      .cntSeparator {
        font-size: 54px;
        margin: 10px 7px;
        color: #000;
      }
      .desc { margin: 7px 3px; }
      .desc div {
        float: left;
        font-family: Arial;
        width: 70px;
        margin-right: 65px;
        font-weight: bold;
        color: #000;
      }

    </style>

</head>
<body>
<div class="body">
   <div id="header"> 
        <div id="userpanel">
        </div> 
        <h1 id="logo"> 
            <a href="/" class="logo">Node Party</a> 
            <a style="margin-left: 150px;" href="http://cnodejs.org/"><img src="http://cnodejs.org/images/logo.png" /></a>
        </h1>
        <div id="description"></div> 
    </div> 
    <div id="content">
    <div style="background: #eee; padding: 20px;border-radius: 20px;">
    <h1 style="float: left; color: #000; font-size: 50px; margin: 10px 10px 20px 20px;">北京站倒计时：</h1>
        <div id="counter"></div>
        <div class="desc">
            <div>日</div>
            <div>小时</div>
            <div>分钟</div>
            <div>秒</div>
        </div>
        
    </div>
    <br />
        <div class="event">
            <h2>北京站</h2>
            <p>报名：<a href="http://event.weibo.com/282465">http://event.weibo.com/282465</a></p>
            <p>
                <span>活动时间：</span>2011-12-10 13:30 - 17:50
            </p>
            <p>流程安排：</p>
            <ul>
                <li>《SuperSonic项目后端开发》陈卓</li>
                <li>《通过NodeJS开发mobage平台上的手机游戏客户端-Mobage》 吴頔</li>
                <li>《雪球上的nodeJS》孟详宇<a href="http://weibo.com/mengxy">@蒙懵猛孟</a></li>
                <li>《NodeCombo：基于NodeJS的本地CDN服务的搭建》杨振楠</li>
                <li>《Nodejs 二三事》<a href="http://weibo.com/imk2">@Python发烧友</a></li>
                <li>会后聚餐（自愿自费）</li>
            <p>
                <span>活动地址：</span>北京市朝阳区朝外大街甲6号万通中心D座23层（二环三环之间）<br/> at 易宝支付(yeepay.com)
            </p>
            <p>地图：<a href="http://t.cn/S47QfD">http://t.cn/S47QfD</a></p>
            <p>
                <a href="http://t.cn/S47QfD"><img src="http://api.map.baidu.com/staticimage?center=%E6%98%93%E5%AE%9D%E6%94%AF%E4%BB%98&markers=%E6%98%93%E5%AE%9D%E6%94%AF%E4%BB%98&zoom=16&width=250&height=250" /></a>
            </p>
        </div>
        <div class="event">
            <h2>杭州站</h2>
            <p>报名：<a href="http://event.weibo.com/281073">http://event.weibo.com/281073</a></p>
            <p>
                <span>活动时间：</span>2011-12-18 13:30 - 17:30
            </p>
            <p>流程安排：</p>
            <ul>
                <li>《高性能Node应用分析与设计》<br/> 占超群<a href="http://weibo.com/flyinweb">@flyinweb</a></li>
                <li>《数据中间层系统Glider开发优化实践》<br/> 张严明<a href="http://weibo.com/windyrobin">@孤独的登山人</a></li>
                <li>《使用Node构建通用的前端运维平台》<br/> 许阳寅<a href="http://weibo.com/yyfrankyy">@yyfrankyy</a></li>
                <li>《从REST到Now.js》<a href="http://weibo.com/showpower">@青山老妖_黄冠</a></li>
                <li>会后聚餐（自愿自费）</li>
            <p>
                <span>活动地址：</span>杭州市西湖区塘苗路18号华星现代产业园 淘宝网 7-4凤凰山庄
            </p>
            <p>地图：<a href="http://j.map.baidu.com/u00wc">http://j.map.baidu.com/u00wc</a></p>
            <div style="width:250px;height:250px;border:#ccc solid 1px;" id="dituContent"></div>
        </div>
        <div class="event">
            <h2>上海站 Christmas</h2>
            <p>报名：<a href="http://event.weibo.com/275553">http://event.weibo.com/275553</a></p>
            <p>
                <span>活动时间：</span>2011-12-25 13:30 - 17:30
            </p>
            <p>流程安排：</p>
            <ul>
                <li>待定，<a href="http://cnodejs.org/blog/?p=4160">我要分享主题！</a></li>
            <p>
                <span>活动地址：</span>第九城市(张江高科技园区碧波路690号3号楼)，地铁2号线张江高科站
            </p>
            <p>地图：<a href="http://map.baidu.com/?poiShareUid=68f402659857db00ca1b95c4&cityCode=289&tn=B_NORMAL_MAP">查看地图</a></p>
            <p>
            <a href="http://map.baidu.com/?poiShareUid=68f402659857db00ca1b95c4&cityCode=289&tn=B_NORMAL_MAP"><img src="http://api.map.baidu.com/staticimage?center=%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E7%A2%A7%E6%B3%A2%E8%B7%AF690%E5%8F%B7&markers=%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E7%A2%A7%E6%B3%A2%E8%B7%AF690%E5%8F%B7&zoom=16&width=250&height=250" />
            </a>
            </p>
        </div>
        <div class="event">
            <h2>深圳站</h2>
            <p>
                <span>活动时间：</span>初定 2012年1月8号
            </p>
        </div>
    </div> 
    <div id="footer"> 
        <a href="http://cnodejs.org">CNode</a>
        <div style="margin-top: 1em;"> 
          &copy;&nbsp;2011 CNode.
          Help and Contact :
          [Weibo]<a href="http://t.sina.com.cn/imk2" target="_blank">@Python发烧友</a> &bull;
          [Twitter]<a href="http://twitter.com/fengmk2" target="_blank">@fengmk2</a>.
        </div> 
    </div>
</div>
</body> 
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(120.128179,30.280897);//定义一个中心点坐标
        map.centerAndZoom(point,17);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
    var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_SMALL});
    map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
    var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:0});
    map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
    var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
    map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"华星现代产业园",content:"杭州市西湖区塘苗路18号华星现代产业园&nbsp;淘宝网&nbsp;7-4凤凰山庄",point:"120.128036|30.280835",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
    ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
            var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
            var iw = createInfoWindow(i);
            var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
            marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
            
            (function(){
                var index = i;
                var _iw = createInfoWindow(i);
                var _marker = marker;
                _marker.addEventListener("click",function(){
                    this.openInfoWindow(_iw);
                });
                _iw.addEventListener("open",function(){
                    _marker.getLabel().hide();
                })
                _iw.addEventListener("close",function(){
                    _marker.getLabel().show();
                })
                label.addEventListener("click",function(){
                    _marker.openInfoWindow(_iw);
                })
                if(!!json.isOpen){
                    label.hide();
                    _marker.openInfoWindow(_iw);
                }
            })()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://openapi.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>
</html> 
